<% content_for :title, "New Membership Plan" %>

<section class="space-y-6">
  <header>
    <h1 class="text-3xl font-semibold text-slate-900">New membership plan</h1>
  </header>

  <%= render "form", membership_plan: @membership_plan %>
</section>
