<% content_for :title, "Edit Class Session" %>

<section class="space-y-6">
  <header>
    <h1 class="text-3xl font-semibold text-slate-900">Edit class session</h1>
  </header>

  <%= render "form", class_session: @class_session %>
</section>
